@import 'tailwindcss';

:root {
	--background-primary: #1c1917;
	--background-secondary: #292524;
	--background-tertiary: #44403c;
	--text-primary: #fafaf9;
	--text-secondary: #6b7280;
	--accent: #8b5cf6;
	--border-primary: #44403c;
}

[data-theme='light'] {
	--background-primary: #fafaf9;
	--background-secondary: #e5e7eb;
	--background-tertiary: #f3f4f6;
	--text-primary: #1f2937;
	--text-secondary: #6b7280;
	--text-button: #fafaf9;
	--accent: #8b5cf6;
	--border-primary: #6b7280;
}

[data-theme='dark'] {
	--background-primary: #1c1917;
	--background-secondary: #292524;
	--background-tertiary: #292726;
	--text-primary: #fafaf9;
	--text-secondary: #9ca3af;
	--accent: #8b5cf6;
	--border-primary: #44403c;
}

@theme {
	--color-background-primary: var(--background-primary);
	--color-background-secondary: var(--background-secondary);
	--color-background-tertiary: var(--background-tertiary);
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-text-button: var(--text-button);
	--color-accent: var(--accent);
	--color-border-primary: var(--border-primary);
}

.input-primary {
	@apply bg-background-primary text-text-primary border-border-primary w-full rounded-md border-2 p-2 pl-10 transition-all duration-300 ease-in-out outline-none;
}

.button-primary {
	@apply bg-accent text-text-button flex flex-row items-center gap-2 rounded-md px-4 py-2 transition-all duration-300 ease-in-out hover:scale-101;
}

.button-secondary {
	@apply bg-background-tertiary text-text-primary flex flex-row items-center gap-2 rounded-md px-4 py-2 transition-all duration-300 ease-in-out hover:scale-101;
}

.button-important {
	@apply text-text-button flex cursor-pointer flex-row items-center gap-2 rounded-md bg-red-500 px-4 py-2 transition-all duration-300 ease-in-out hover:scale-101;
}

.background-primary-centered {
	@apply bg-background-primary text-text-primary flex h-screen flex-col items-center justify-center;
}

.stats-card {
	@apply bg-background-secondary text-text-primary flex cursor-pointer flex-col items-center justify-center gap-2 rounded-lg p-4 transition-all duration-300 hover:scale-101;
}

.stats-card-admin-dashboard-sizing {
	@apply h-48 w-full md:h-48 md:w-48;
}

.admin-dashboard-side-panel {
	@apply bg-background-secondary text-text-primary border-border-primary flex h-full w-full flex-row gap-2 border-t-2 p-2 lg:flex-col lg:border-t-0 lg:border-r-2;
}
